// Navbar for the site

nav
  .nav-wrapper
    form
      .input-field
        input#search(type='search', required='')
        label(for='search')
        
        		a.dropdown-button.btn(href='#', data-activates='dropdown1') Search!
 
		ul#dropdown1.dropdown-content
			li Result No.1
				a(href="index.html") Result A
				p description... 
			li Result No.2
				a(href="index.html") Result B
				p description... 
			li Result No.3
				a(href="index.html") Result C
				p description... 
          i.material-icons search
        i.material-icons close
      
